@model FinalProject.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>@Resources.Translations.UseAnotherServiceToLogIn:</h4>
<br />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        <div id="socialLoginList">
            @foreach (AuthenticationDescription p in loginProviders)
            {
                <button type="submit" class="btn btn-social btn-@p.Caption.ToLower()" id="@p.AuthenticationType"
                        name="provider" value="@p.AuthenticationType"
                        title="@String.Format(Resources.Translations.LogInUsingYour_Account, p.Caption)" style="margin:5px">
                    <span class="fa fa-@p.Caption.ToLower()"></span>@Resources.Translations.ResourceManager.GetString(p.AuthenticationType)
                </button><br/>
            }
        </div>
    }
}
