@using Microsoft.AspNet.Identity
@using FinalProject.Models;
@using System.Configuration;
@model FinalProject.Models.Postcard

@{
    ViewBag.Title = Resources.Translations.Postcard;
}

@section styles
{
    <link type="text/css" rel="stylesheet" href="~/Content/jquery-comments/jquery-comments.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/jquery-comments/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/star-rating/star-rating.min.css" />
}

<span id="data" 
      data-postcard-id="@Model.Id"
      data-user-id="@User.Identity.GetUserId()" 
      data-json-path="@Model.JsonPath"
      data-image-path="@Model.ImagePath"
      data-template-name="@Model.Template.Name"
      data-token="@ConfigurationManager.AppSettings["DropboxToken"]"
      data-username="@User.Identity.GetUserName()"
      data-newest-text="@Resources.Translations.Newest"
      data-oldest-text="@Resources.Translations.Oldest"
      data-popular-text="@Resources.Translations.Popular"
      data-send-text="@Resources.Translations.Send"
      data-no-comments-text="@Resources.Translations.NoComments"
      data-textarea-placeholder-text="@Resources.Translations.YourComment">
</span>

<center>
    <h2>@Model.Name</h2>
    <p>@Resources.Translations.Author: @Html.ActionLink(@Model.Owner.UserName, "GetUserPage", "User", new { userId = Model.OwnerId }, null)</p>
    <p>@Resources.Translations.Category: @Resources.Translations.ResourceManager.GetString(Model.Category.Value)</p>
    <canvas id="main-postcard" style="width:150px;height:150px"></canvas>
</center>
<br/>
@if (Model.HashTags.Any())
{
    <div id="hashTags" class="container">
        <p class="pull-left">@Resources.Translations.Tags:&nbsp;&nbsp;</p>
        @foreach (HashTag hashTag in Model.HashTags)
        {
            <p class="pull-left">
                #<a href="@String.Format("/Search/GetImagesByHashTag?hashTag={0}",
             hashTag.Value)">@hashTag.Value</a>&nbsp;&nbsp;
            </p>
        }
    </div>
}

@if (Request.IsAuthenticated)
{
    <br />
    <center>
        <p>@Resources.Translations.AverageRating: 
            <span id="average-rating">@Model.AverageRating</span>
        </p>
        <img id="rating-loader" src="~/Content/OwlCarousel/AjaxLoader.gif"
             style="display:none" />
        <p id="rate-success" style="color:green;display:none">@Resources.Translations.YourRatingWasSuccessfullyChanged!</p>
        <input id="rating" type="number" class="rating" min="0" max="5" step="1"
               value="@ViewBag.RatingValue" />
    @if (Model.OwnerId == User.Identity.GetUserId())
    {
        <br />
        <p id="delete-success" style="color:green;display:none">@Resources.Translations.YourPostcardWasSuccessfullyDeleted!</p>
        <img id="loader" src="~/Content/img/loading.gif" style="width:30px;height:30px;display:none" />
        <div id="edit-delete-group" class="btn-group">
             @Html.ActionLink(Resources.Translations.Edit, "EditPostcard",
                       new { id = Model.Id }, new { @class = "btn btn-success",
                           type = "button" })
            <button id="delete-button" type="button" class="btn btn-danger">
                @Resources.Translations.Delete
            </button>
        </div>
        <br />
    }
    <br />
        <img id="comments-loader" src="~/Content/OwlCarousel/AjaxLoader.gif" />
    </center>
    <div id="comments-section"></div>
}

@section scripts
    {
    <script type="text/javascript" src="~/Scripts/jquery-comments/jquery-comments.js"></script>
    <script type="text/javascript" src="~/Scripts/DateFormatting/data.format.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script type="text/javascript" src="~/signalr/hubs"></script>
    <script type="text/javascript" src="~/Scripts/Common/loadPostcardPage.js"></script>
    <script type="text/javascript" src="~/Scripts/star-rating/star-rating.min.js"></script>
}