@using Microsoft.AspNet.Identity
@using FinalProject.Models;
@model FinalProject.Models.Postcard

@{
    ViewBag.Title = Resources.Translations.Postcard;
}

@section styles
{
    <link type="text/css" rel="stylesheet" href="~/Content/jquery-comments/jquery-comments.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/jquery-comments/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="~/Content/star-rating/star-rating.min.css" />
}

<span id="data" 
      data-postcard-id="@Model.Id"
      data-user-id="@User.Identity.GetUserId()" 
      data-username="@User.Identity.GetUserName()"
      data-newest-text="@Resources.Translations.Newest"
      data-oldest-text="@Resources.Translations.Oldest"
      data-popular-text="@Resources.Translations.Popular"
      data-send-text="@Resources.Translations.Send"
      data-no-comments-text="@Resources.Translations.NoComments"
      data-textarea-placeholder-text="@Resources.Translations.YourComment">
</span>

<center>
    <h1>@Model.Name</h1>
    <p>@Resources.Translations.Author: @Html.ActionLink(@Model.Owner.UserName, "GetUserPage", "User", new { userId = Model.OwnerId }, null)</p>
    <img id="main-postcard" src="@Model.ImageUrl" alt="@Model.Name" 
         title="@Model.Name" style="max-height:100%;max-width:100%" />
</center>
<br/>
<div id="hashTags" class="container">
    <p class="pull-left">@Resources.Translations.Tags:&nbsp;&nbsp;</p>
    @foreach (HashTag hashTag in Model.HashTags)
    {
        <p class="pull-left">
            #<a href="@String.Format("/Search/GetImagesByHashTag?hashTag={0}",
                  hashTag.Value)">@hashTag.Value</a>&nbsp;&nbsp;
        </p>
    }
</div>
@if (Request.IsAuthenticated)
{
    <br />
    <center>
        <p>@Resources.Translations.AverageRating: 
            <span id="average-rating">@Model.AverageRating</span>
        </p>
        <img id="rating-loader" src="~/Content/OwlCarousel/AjaxLoader.gif"
             style="display:none" />
        <p id="rate-success" style="color:green;display:none">@Resources.Translations.YourRatingWasSuccessfullyChanged!</p>
        <input id="rating" type="number" class="rating" min="0" max="5" step="1"
               value="@ViewBag.RatingValue" />
    </center>
    <br />
    <center>
        <img id="comments-loader" src="~/Content/OwlCarousel/AjaxLoader.gif" />
    </center>
    <div id="comments-section"></div>

    @section scripts
    {
        <script type="text/javascript" src="~/Scripts/jquery-comments/jquery-comments.js"></script>
        <script type="text/javascript" src="~/Scripts/DateFormatting/data.format.js"></script>
        <script type="text/javascript" src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
        <script type="text/javascript" src="~/signalr/hubs"></script>
        <script type="text/javascript" src="~/Scripts/Common/loadPostcardPage.js"></script>
        <script type="text/javascript" src="~/Scripts/star-rating/star-rating.min.js"></script>
    }
}
