@model FinalProject.Models.ApplicationUser

@{
    ViewBag.Title = Resources.Translations.Settings;
}

<span id="data"
      data-user-id="@Model.Id">
</span>

<br />
<p class="text-success">@ViewBag.StatusMessage</p>
<div id="main-container" class="container">
    <div class="user-div">
        <table>
            <tr>
                <td>
                    <img src="~/Content/img/user.png" class="img-rounded" />
                </td>
                <td>
                    <h2>@Model.UserName</h2>
                    <h3>@Resources.Translations.Rating: @Model.AverageRating</h3>
                    <div id="medals" class="medals-div">
                        <center>
                            @foreach (var medal in Model.Medals)
                            {
                                <img src="@medal.ImageUrl" alt="@Resources.Translations.ResourceManager.GetString(medal.Description)"
                                     title="@Resources.Translations.ResourceManager.GetString(medal.Description)" style="width:35px;height:45px" />
                            }
                        </center>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <br />
    @Html.ActionLink(Resources.Translations.ChangeYourData, "ChangeData", null, new { @class = "btn btn-success" })
    <br />
    <br />
    <h3>@Resources.Translations.AmountOfPostcards: @Model.Postcards.Count</h3>
    <br />
    <center>
        <div id="images"></div>
        <img id="loader" src="~/Content/img/loading.gif" style="height:30px;width:30px;display:none" />
        <br />
        <br />
        <button id="more-postcards-button" class="btn btn-success">@Resources.Translations.More</button>
    </center>
</div>

@section scripts
{
    <script type="text/javascript" src="~/Scripts/Common/loadUserPage.js"></script>    
}

