@model FinalProject.Models.HashTag

@{
    ViewBag.Title = Resources.Translations.Search;
}

<br />
<h2>@Resources.Translations.PostcardsWithTag: @ViewBag.HashTag</h2>
<br />

<div class="thumbnails">
    <center>
        @foreach (var postcard in Model.RelatedPostcards)
        {
            <a href="/Postcard/GetPostcardPage?id=@postcard.Id">
                <img src="@postcard.ThumbnailUrl" alt="@postcard.Name"
                     style="margin:10px" title="@postcard.Name">
            </a>
        }
    </center>
</div>
