<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/styleBundles/css")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/scriptBundles/modernizr")
    <link type="text/css" rel="stylesheet" id="black-white" 
          href="~/Content/Themes/BlackWhite.css" />
</head>
<body>
    <div id="main-header" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(" ", "Index", "Home", new { area = "" },
                    new { @class = "navbar-brand glyphicon glyphicon-home",
                        style = "color: #ededed" })
                @using (Html.BeginForm("GetImagesAll", "Search", FormMethod.Get,
                    new { @class = "navbar-nav", id = "search-bar",
                        style = "margin-top:6px" }))
                {
                    <input type="search" name="value">
                }
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <footer>
            <hr />
            <a href="https://github.com/andrewtroyan/PostcardGallery" target="_blank">
                <img src="~/Content/img/GitHub-Mark-32px.png"
                     style="height:20px;width:20px" />
            </a>
            <div class="btn-group dropup pull-right" style="margin-left:10px">
                <button type="button" class="btn btn-success btn-xs dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @Resources.Translations.Themes&nbsp;&nbsp;<span class="caret"></span>
                </button>
                <ul class="dropdown-menu" id="styleOptions">
                    <li><a href="#" data-theme="BlackWhite">@Resources.Translations.Default</a></li>
                    <li><a href="#" data-theme="GrayGreen">@Resources.Translations.GrayAndGreen</a></li>
                    <li><a href="#" data-theme="VioletBeige">@Resources.Translations.VioletAndBeige</a></li>
                </ul>
            </div>
            <div class="btn-group dropup pull-right" style="margin-left:10px">
                <button type="button" class="btn btn-success btn-xs dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @Resources.Translations.Language&nbsp;&nbsp;<span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="/Culture/ChangeCulture?lang=en">English</a></li>
                    <li><a href="/Culture/ChangeCulture?lang=ru">Русский</a></li>
                </ul>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/scriptBundles/jquery")
    @Scripts.Render("~/scriptBundles/bootstrap")
    <script type="text/javascript" src="~/Scripts/StyleSwitcher/jQuery.style.switcher.min.js"></script>
    <script type="text/javascript" src="~/Scripts/Common/loadStyleSwitcher.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
